<div class="container">
<div class="carousel">
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="../../../assets/your_loog_here.png">
    </ng-template>
    <ng-template carouselSlide><img src="../../../assets/your_loog_here.png"></ng-template>
    <ng-template carouselSlide><img src="../../../assets/your_loog_here.png"></ng-template>
</owl-carousel-o>
</div>
</div>
<div class="text">
    <div class="text">
        <h1>Do you want to see your page like this?</h1>
        <h3>Don't waste your time with old page styles.</h3><br>
        <h3>Join with me to change the way to build your enterprise position on the internet!</h3>
    </div>
</div>
<app-footer></app-footer>