* {
    color: #fff;
    padding-top: 15px;
    padding-left: 42px;
}

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.container {
    padding-left: 15%;
}

.carousel{
    width: 650px;
    

}

.text {
    color:#fff;
}